@import url(../base.css);


.primary-layout {
    --gap: 0;

    position: relative;

    min-height: 100vh;
}

main {
    /* min-height: 85vh;  */
}

footer {
    /* min-height: 15vh; */
    /* background-color: steelblue; */
}

.drawer {
    min-height: 100%;
    padding-inline: 0.calc(var(--size-300) * 5);

    background: var(--clr-text);

}

.page {
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.sidebar {
    background: var(--clr-card-bg);
}


.drawer-wrapper {
    display: flex;
    gap: calc(var(--size-300) * 5);
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;

    height: 90vh;
}

.drawer-content li:hover {
    background-color: var(--clr-primary);
    color: var(--clr-accent);
}

.drawer-content li:hover a {
    color: var(--clr-accent);
}

.drawer-wrapper.collapse .nav-item-text {
    display: none;
}

@media (max-width: 35em) {
    .drawer-wrapper .nav-item-text {
        display: none;
    }
}

.drawer-controller {
    /* margin-top: var(--size-300); */
}

.drawer-controller .icon::before {
    content: '\21DA';
}

.drawer-wrapper.collapse .drawer-controller .icon::before {
    content: '\21DB';
}

@media (max-width: 35em) {
    .drawer-controller {
        /* display: none; */
        visibility: collapse;
    }

}

.drawer-nav-list {
    --gap: calc(var(--size-300) / 4);
    flex-direction: column;
    --padding: 0;
}

.drawer-nav-list .dropdown-list {
    --padding: var(--size-300);
}

.nav-item-text {
    padding-inline: var(--size-300);
}

.primary-navigation {
    justify-content: space-between;
    align-items: center;

    background: hsla(var(--hsl-text), 0.9);
}

.logo {
    min-width: 250px;
    min-height: 50px;
    margin: 0.calc(var(--size-300) * 5);
    outline: 2px solid var(--clr-accent);
    background-color: var(--clr-primary);
}

.navbar-controller,
.navbar-controller-label {
    display: none;
}

.primary-navigation {
    /* padding: .25rem; */

}

.primary-nav-list {
    --gap: var(--size-300);

    background: hsla(var(--hsl-text), 0.9);
    padding: var(--size-300);
}

@supports(backdrop-filter: blur(var(--size-300))) {
    .primary-nav-list {
        background: hsla(var(--hsl-text), 0.1);
        backdrop-filter: blur(var(--size-300));
    }
}

.primary-nav-list li {
    position: relative;
}

.primary-nav-list a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--clr-accent);

    position: absolute;
    top: 0;
    left: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

.primary-nav-list a:hover::before {
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown a {
    /* pointer-events: none; */
    /* cursor: default; */
    /* text-decoration: none; */

}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: var(--clr-body);
}


.dropdown-list li {
    /* display: block; */
    /* margin-block: var(--size-300); */
    /* padding: var(--size-300) 0; */
    /* background-color: red; */

}

.dropdown-list li a {
    color: var(--clr-body-bg);
}


.dropdown-list.pop-right li {
    display: block;
    /* margin: 0; */
    /* padding: 0.calc(var(--size-300) * 5); */
}

li.dropdown:hover .dropdown-list {
    display: block;
    /* position: absolute; */
}

.pop-down {
    top: 100%;
    left: 0;
}

.pop-right {
    top: 0;
    left: 100%;
}

.pop-right {
    top: 0;
    left: 100%;
}

.pop-down-left {
    top: 100%;
    right: 0%;
}

@media (max-width: 35em) {
    .primary-navigation {
        display: block;
        position: relative;
    }

    .primary-nav-list {
        display: none;

        position: absolute;

        width: 100%;
        text-align: center;
    }

    .navbar-controller-label {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    input[type=checkbox]:checked~.primary-nav-list {
        display: flex;
        flex-direction: column;
        gap: var(--size-300);

        /* justify-content: center; */
        /* align-items: center; */

        padding: var(--size-600);
    }

    li.dropdown:hover .dropdown-list {
        /* position: relative; */
    }

}

.sidebar-wrapper {
    --_sb-right: 0%;
    --_sb-width: 300px;

    position: fixed;
    right: var(--_sb-right);
    top: 0;
    bottom: 0;
    /* height: 100%; */
    width: var(--_sb-width);

    /* outline: 2px solid beige; */
    background: inherit;

    padding: var(--size-600);
    /* overflow-y: scroll; */
}

.sidebar-wrapper.collapse {
    transform: translateX(100%);
}

.sidebar-content {
    --label-align: left;
    font-size: var(--fs-200);
}

.sidebar-controller {
    position: absolute;
    top: 35%;
    right: var(--_sb-width);
    /* color: var(--clr-body-bg); */
}

.sidebar-wrapper.collapse .sidebar-controller .icon::before {
    content: '\2638';
}

.sidebar-controller .icon::before {
    content: '\00D7';
}

.color-picker {
    width: fit-content;
}

.color-picker input[type='radio'] {
    appearance: none;
    width: var(--size-300);
    height: var(--size-300);
    outline: 3px solid var(--radio-color);
    outline-offset: 3px;
    border: none;
    border-radius: 50%;
}

input[type='radio']:checked {
    background-color: var(--radio-color, var(--clr-text));
}

.color-picker input[type='radio']#light {
    --radio-color: gray;
}

.color-picker input[type='radio']#pink {
    --radio-color: pink;
}

.color-picker input[type='radio']#blue {
    --radio-color: blue;
}

.color-picker input[type='radio']#green {
    --radio-color: green;
}

.color-picker input[type='radio']#dark {
    --radio-color: var(--clr-text);
}

.light,
:root:has(#light:checked) {

    --hsl-text: 0, 0%, 10%;
    --hsl-background: 0, 0%, 90%;

    --clr-primary-50: hsl(0, 0%, 95%);
    --clr-primary-100: hsl(0, 0%, 90%);
    --clr-primary-200: hsl(0, 0%, 70%);
    --clr-primary-300: hsl(0, 0%, 25%);
    --clr-primary-400: hsl(0, 0%, 10%);
}

.dark,
:root:has(#dark:checked) {

    --hsl-text: 0, 0%, 90%;
    --hsl-background: 0, 0%, 10%;

    --clr-primary-50: hsl(0, 0%, 5%);
    --clr-primary-100: hsl(0, 0%, 10%);
    --clr-primary-200: hsl(0, 0%, 25%);
    --clr-primary-300: hsl(0, 0%, 70%);
    --clr-primary-400: hsl(0, 0%, 90%);
}

.pink,
:root:has(#pink:checked) {
    --hsl-text: 310, 50%, 15%;
    --hsl-background: 310, 50%, 90%;

    --clr-primary-50: hsl(310, 50%, 95%);
    --clr-primary-100: hsl(310, 50%, 90%);
    --clr-primary-200: hsl(310, 50%, 80%);
    --clr-primary-300: hsl(310, 50%, 25%);
    --clr-primary-400: hsl(310, 50%, 15%);
}

.blue,
:root:has(#blue:checked) {
    --hsl-text: 220, 50%, 10%;
    --hsl-background: 220, 50%, 90%;

    --clr-primary-50: hsl(220, 50%, 95%);
    --clr-primary-100: hsl(220, 50%, 90%);
    --clr-primary-200: hsl(220, 50%, 80%);
    --clr-primary-300: hsl(220, 50%, 25%);
    --clr-primary-400: hsl(220, 50%, 15%);
}

.green,
:root:has(#green:checked) {
    --hsl-text: 140, 50%, 10%;
    --hsl-background: 140, 50%, 90%;

    --clr-primary-50: hsl(140, 50%, 95%);
    --clr-primary-100: hsl(140, 50%, 90%);
    --clr-primary-200: hsl(140, 50%, 80%);
    --clr-primary-300: hsl(140, 50%, 25%);
    --clr-primary-400: hsl(140, 50%, 15%);
}


.footer-wrapper {
    background-color: var(--clr-card-bg);
    color: var(--clr-text);
    padding: var(--size-300);
}