:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(0, 0%, 40%);
  --clr-neutral-900: hsla(0, 0%, 0%);
  --clr-primary-50: hsl(0, 0%, 95%);
  --clr-primary-100: hsl(0, 0%, 90%);
  --clr-primary-200: hsl(0, 0%, 70%);
  --clr-primary-250: hsl(0, 0%, 50%);
  --clr-primary-300: hsl(0, 0%, 25%);
  --clr-primary-400: hsl(0, 0%, 10%);
  --clr-primary-000: hsl(0, 100%, 70%);
  --clr-primary-090: hsl(90, 100%, 50%);
  --clr-primary-180: hsl(180, 100%, 50%);
  --clr-primary-270: hsl(270, 100%, 50%);
  --clr-primary-120: hsl(120, 100%, 50%);
  --clr-primary-240: hsl(240, 100%, 50%);
  /* --hsl-background: 0, 100%, 94%; */
  --hsl-text: 0, 0%, 90%;
  --hsl-background: 0, 0%, 10%;
  --clr-text: var(--clr-primary-400);
  --clr-card-bg: var(--clr-primary-200);
  --clr-body: var(--clr-primary-300);
  --clr-body-bg: var(--clr-primary-100);
  --clr-primary: var(--clr-primary-400);
  --clr-secondary: var(--clr-primary-250);
  --clr-accent: var(--clr-primary-180);
  --ff-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-accent: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --size-100: clamp(0.64em, calc(0.66em + -0.02vw), 0.65em);
  --size-200: clamp(0.78em, calc(0.77em + 0.03vw), 0.8em);
  --size-300: clamp(0.94em, calc(0.92em + 0.11vw), 1em);
  --size-400: clamp(1.13em, calc(1.08em + 0.22vw), 1.25em);
  --size-500: clamp(1.35em, calc(1.28em + 0.37vw), 1.56em);
  --size-600: clamp(1.62em, calc(1.5em + 0.58vw), 1.95em);
  --size-700: clamp(1.94em, calc(1.77em + 0.87vw), 2.44em);
  --size-800: clamp(2.33em, calc(2.08em + 1.25vw), 3.05em);
  --size-900: clamp(2.8em, calc(2.45em + 1.77vw), 3.82em);
  --fs-100: clamp(0.64rem, calc(0.66rem + -0.02vw), 0.65rem);
  --fs-200: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --fs-300: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --fs-400: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-500: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --fs-600: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --fs-700: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --fs-800: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --fs-900: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
  /* --fs-100: calc(var(--fs-100) / 2.0);
--fs-200: calc(var(--fs-200) / 2.0);
--fs-300: calc(var(--fs-300) / 2.0);
--fs-400: calc(var(--fs-400) / 2.0);
--fs-500: calc(var(--fs-500) / 2.0);
--fs-600: calc(var(--fs-600) / 2.0);
--fs-700: calc(var(--fs-700) / 2.0);
--fs-800: calc(var(--fs-800) / 2.0);
--fs-900: calc(var(--fs-900) / 2.0); */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --clr-primary-100: hsl(0, 0%, 10%); */
    /* --clr-primary-200: hsl(0, 0%, 25%); */
    /* --clr-primary-300: hsl(0, 0%, 70%); */
    /* --clr-primary-400: hsl(0, 0%, 90%); */
    /* --hsl-background: 0, 0%, 5%; */
    /* --clr-text: var(--clr-primary-400); */
    /* --clr-body: var(--clr-primary-300); */
    /* --clr-body-bg: var(--clr-primary-100); */
    /* --clr-primary: hsl(30, 98%, 54%); */
    /* --clr-secondary: hsl(60, 96%, 10%); */
    /* --clr-secondary: var(--clr-primary-200); */
    /* --clr-accent: hsl(60, 98%, 50%); */

    --clr-neutral-900: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(0, 0%, 40%);
    --clr-neutral-100: hsla(0, 0%, 0%);
    --clr-primary-400: hsl(0, 0%, 90%);
    --clr-primary-300: hsl(0, 0%, 70%);
    --clr-primary-250: hsl(0, 0%, 50%);
    --clr-primary-200: hsl(0, 0%, 25%);
    --clr-primary-100: hsl(0, 0%, 10%);
    --clr-primary-50: hsl(0, 0%, 5%);
    --hsl-text: 0, 0%, 10%;
    --hsl-background: 0, 0%, 90%;
    /* --clr-primary-000: hsl(0, 100%, 50%); */
    --clr-primary-090: hsl(90, 100%, 50%);
    --clr-primary-180: hsl(180, 100%, 50%);
    --clr-primary-270: hsl(270, 100%, 50%);
    --clr-primary-120: hsl(120, 100%, 50%);
    --clr-primary-240: hsl(240, 100%, 50%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font: inherit;
}

html {
  color-scheme: light dark;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  color: var(--clr-body);
  background-color: var(--clr-body-bg);
  line-height: 1.5;
  min-height: 100vh;
  /* background-image: url(../images/background.jpg); */
  /* background-size: 100vw 100vh; */
  /* overflow-x: hidden; */
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--size-600);
  /* color: var(--clr-primary); */
}

h2 {
  font-size: var(--size-500);
  /* color: var(--clr-primary); */
}

h3 {
  font-size: var(--size-400);
  color: var(--clr-text);
}

p {
  margin-block: var(--size-300);
  text-align: justify;
}

a {
  color: var(--clr-primary);
  cursor: pointer;
}

a:hover,
a:focus {
  /*color: var(--clr-accent);*/
  filter: invert(1);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

::marker {
  color: var(--clr-primary);
}

/* form */
input,
button,
textarea,
select {
  background: inherit;
  color: inherit;
  font: inherit;
  padding: calc(var(--size-100) / 2);
  border: 1px solid var(--clr-text);
  /* border-radius: 0.2em; */
}

input:disabled,
button:disabled,
textarea:disabled,
select:disabled {
  opacity: 0.6;
  border-color: var(--clr-body-bg);
}

button:disabled {
  cursor: default;
}

button:hover:disabled {
  filter: none !important;
}

button {
  --_clr-bg: inherit;
  --_clr-fg: inherit;
  background: var(--_clr-bg);
  color: var(--_clr-fg);
  cursor: pointer;
  padding-inline: var(--size-300);
  display: inline-flex;
  align-items: center;
  gap: .5em;
  --_clr-icon-fg: var(--_clr-fg);
}

button.default {
  --_clr-bg: var(--clr-accent);
  --_clr-fg: var(--clr-card-bg);
}

button:hover.default {
  /*--_clr-bg: var(--clr-card-bg);*/
  /*--_clr-fg: var(--clr-accent);*/
  filter: invert(1);
}

button.primary {
  --_clr-bg: var(--clr-text);
  --_clr-fg: var(--clr-body-bg);
}

button:hover.primary {
  /*--_clr-bg: var(--clr-body-bg);*/
  /*--_clr-fg: var(--clr-text);*/
  filter: invert(1);
}

button.secondary {
  --_clr-bg: var(--clr-secondary);
  --_clr-fg: var(--clr-text);
}

button:hover.secondary {
  /*--_clr-bg: var(--clr-text);*/
  /*--_clr-fg: var(--clr-secondary);*/
  filter: invert(1);
}

/*button:disabled,
button:hover:disabled {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
    filter: none;
    cursor: default;
}


html.dark button:disabled {
background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}*/

input[type="radio"],
input[type="checkbox"] {
  /* appearance: none; */
  width: var(--size-500);
  height: var(--size-500);
  border: none;
  outline: 2px solid var(--clr-primary-400);
  outline-offset: 3px;
  margin: 0.3em;
  /* margin: 5px; */
}

input[type="radio"] {
  appearance: none;
  border-radius: 50%;
}

input[type="checkbox"] {}

h1 {
  --flow-space: 1.5em;
}

h2 {
  --flow-space: 1em;
}

nav {}

nav li {
  white-space: nowrap;
  /* margin: 0.25rem; */
}

nav a.active {
  background-color: var(--clr-accent);
  color: var(--clr-body-bg);
  pointer-events: none;
  cursor: default;
}

nav a {
  text-decoration: none;
  display: block;
  padding: var(--padding, var(--size-300));
  color: var(--clr-text);
  /* font-size: var(--size-400); */
}

/* table */
table {
  border-collapse: collapse;
  width: 100%;
  --_clr-icon-fg: var(--clr-accent)
}

.grid-table {
  --_col-num: 2;
  display: grid;
  grid-template-columns: repeat(var(--_col-num), auto);
  gap: 1px;
  width: fit-content;
  background-color: var(--clr-secondary);
  border: 1px solid var(--clr-secondary);
}

.grid-row-wrapper {
  display: contents;
}

td,
th {
  border: 1px solid var(--clr-secondary);
  padding: var(--size-100);
}

.grid-row-wrapper>* {
  display: flex;
  align-items: center;
  padding: var(--size-100);
}


table tr:nth-child(odd),
.grid-row-wrapper:nth-child(odd)>* {
  background-color: var(--clr-card-bg);
}

table tr:nth-child(even),
.grid-row-wrapper:nth-child(even)>* {
  background-color: var(--clr-body-bg);
  /*text-align: center;*/
}

table tr:hover,
.grid-row-wrapper:hover>* {
  background-color: var(--clr-card-bg);
  filter: invert(1);
  /*filter: hue-rotate(90deg);*/
}

table tr:hover td:has(img),
table tr:hover td:has(picture),
table tr:hover td:has(svg),
table tr:hover td:has(video),
.grid-row-wrapper:hover>*:has(img),
.grid-row-wrapper:hover>*:has(picture),
.grid-row-wrapper:hover>*:has(svg),
.grid-row-wrapper:hover>*:has(video) {
  filter: invert(1);
}

table th,
.grid-table .grid-th,
.grid-table .grid-row-wrapper:first-child>* {
  padding-block: var(--size-300);
  /* text-align: left; */
  background-color: var(--clr-accent);
  color: var(--clr-body-bg);
  position: relative;
}

.grid-table .grid-th {
  display: block;
}

table th button:has(.icon),
.grid-table .grid-th button:has(.icon) {
  padding: 0.1em !important;
}


th label input[type=checkbox],
th label+input[type=checkbox],
.grid-th label input[type=checkbox],
.grid-th label+input[type=checkbox] {
  display: none;
}

th:has(input[type=checkbox]) .search,
.grid-th:has(input[type=checkbox]) .search {
  display: none;
  position: absolute;
  /* left: 0; */
}

th:has(input[type=checkbox]:checked) .search,
.grid-th:has(input[type=checkbox]:checked) .search {
  display: block;
}

th:has(input[type=checkbox]) .search input,
.grid-th:has(input[type=checkbox]) .search input {
  font-weight: lighter;
  background-color: var(--clr-accent);
  opacity: 0.8;
  /* width: 100%; */
}

th:has(input[type=checkbox]:checked),
.grid-th:has(input[type=checkbox]:checked) {
  z-index: 99;
}

@media (max-width: 35em) {

  table.mobile-col-1-2 tr> :nth-child(n+3),
  table.mobile-col-1-3 tr> :nth-child(n+4),
  table.mobile-col-1-4 tr> :nth-child(n+5),
  table.mobile-col-1-5 tr> :nth-child(n+6),
  table.mobile-col-1-6 tr> :nth-child(n+7),
  table.mobile-col-1-7 tr> :nth-child(n+8),
  table.mobile-col-1-8 tr> :nth-child(n+9),
  table.mobile-col-1-9 tr> :nth-child(n+10),
  /* table.mobile-col-1 tr> :nth-child(1), */
  table.mobile-remove-col-1 tr> :nth-child(1),
  table.mobile-remove-col-2 tr> :nth-child(2),
  table.mobile-remove-col-3 tr> :nth-child(3),
  table.mobile-remove-col-4 tr> :nth-child(4),
  table.mobile-remove-col-5 tr> :nth-child(5),
  table.mobile-remove-col-6 tr> :nth-child(6),
  table.mobile-remove-col-7 tr> :nth-child(7),
  table.mobile-remove-col-8 tr> :nth-child(8),
  table.mobile-remove-col-9 tr> :nth-child(9),
  table.mobile-remove-col-10 tr> :nth-child(10) {
    display: none;
  }

  .grid-table {
    --_col-num: 1 !important;
  }

  .grid-table .grid-row-wrapper:first-child>* {
    /* display: none; */
  }

  th:has(input[type=checkbox]) .search,
  .grid-th:has(input[type=checkbox]) .search {
    --_font-size: 1em;
    --_padding: var(--size-100);
    --_icon_padding: 0.1em;
    position: absolute;
    top: calc(50% - var(--_padding) - calc(var(--_font-size) / 2));
    left: calc(0% + var(--_padding) + var(--_font-size) + calc(var(--_icon_padding) * 2));
  }

  .grid-th:has(input[type=checkbox]) .search input {
    background-color: var(--clr-accent);
    opacity: 1;
  }
}

.column-control {
  display: none;
}

table:has(input[type="checkbox"].column-controller:checked) .column-control {
  display: revert;
}

/* classes */

.sr-only,
.visually-hidden {
  clip: rect();
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  width: min(100% - 3rem, 90vw);
  margin-inline: auto;
  padding: var(--size-600);
}

.flex,
.flex-center,
.flex-column,
.flex-column-center,
.flex-group {
  display: flex;
  gap: var(--gap, var(--size-100));
}

.flex-group>* {
  flex: 1 1 0;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.flex-column-center {
  justify-content: center;
}

@media (max-width: 35em) {
  .wrapper {
    width: 100%;
    margin-inline: auto;
    padding: var(--size-600);
  }

  .flex-group {
    flex-wrap: wrap;
  }
}

.flow>*+* {
  margin-top: var(--flow-space, 0.5em);
}

.page {
  background-color: hsl(var(--hsl-background), 0.9);
}



.no-border {
  border: none;
}

.btn {
  cursor: pointer;
  cursor: default;
}

button:has(.icon:only-child) {
  padding: var(--size-100);
}

.icon {
  --_clr-icon-bg: inherit;
  --_clr-icon-fg: inherit;
  --_clr-icon-border: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-sz, 1em);
  height: var(--icon-sz, 1em);
  aspect-ratio: 1;
  /* padding: calc(var(--size-300) * 1); */
  border: 1px solid var(--_clr-icon-border);
  color: var(--_clr-icon-fg, var(--clr-body-bg));
  fill: var(--_clr-icon-fg, var(--clr-body-bg));
  background-color: var(--_clr-icon-bg);
  font-weight: bolder;
  /* border-radius: 1vh 0 0 1vh; */
}

.icon:before,
.icon:after {
  font-size: var(--fs-700);
}

.icon>* {
  font-size: var(--icon-fs, var(--size-600));
}

.rotate {
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(var(--deg));
  /* Firefox */
  -moz-transform: rotate(var(--deg));
  /* IE */
  -ms-transform: rotate(var(--deg));
  /* Opera */
  -o-transform: rotate(var(--deg));
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transform: rotate(var(--deg));
}

/* form */
.form-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* Adjust the first value to control the label width */
  gap: var(--size-300, 0.5rem);
  /* Space between label and input */
  align-items: center;
  /* Vertically align label and input */
  margin-block: var(--size-400, 0.5rem);
}

.form-control-one {
  display: grid;
  grid-template-columns: 1fr auto;
}

.sidebar .form-row {
  /* Vertically align label and input */
  margin-block: var(--size-200, 0.5rem);
}

.form-row>label {
  text-align: var(--label-align, right);
}

.form-row>label::after {
  content: ":";
}

.form-row-col-2 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.form-row-col-2>div {
  display: flex;
  gap: 0.15rem;
  align-items: center;
}

.break-label .form-row,
.sidebar .break-label .form-row {
  grid-template-columns: 1fr;
  /* One column for smaller screens */
  gap: 0;
}

.break-label .form-row>label,
.sidebar .break-label .form-row>label {
  text-align: left;
  /* font-size: 1.2em; */
  font-weight: bold;
}

.break-label .form-row>label::after {
  content: "";
}

.sidebar .form-row-col-2 {
  flex-direction: row;
  /* gap: 0.1rem; */
  justify-content: left;
}

@media (max-width: 35em) {
  .form-row {
    grid-template-columns: 1fr;
    /* One column for smaller screens */
    gap: 0;
    margin-block: var(--size-200, 0.5rem);
  }

  .form-row>label {
    text-align: center;
    font-size: var(--fs-400);
    font-weight: 600;
  }

  .form-row>label::after {
    content: "";
  }

  .form-row-col-2 {
    flex-direction: column;
    gap: 0;
  }

  .form-row-col-2>div {
    flex-direction: column;
    gap: 0;
  }
}

/* card, dialog, tile and accordion */
.card,
.dialog,
.accordion,
.tile {
  color: var(--clr-text);
  background-color: var(--clr-card-bg);
  /* padding: var(--size-600); */
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 hsl(var(--hsl-text), 0.8);
  transition: 0.3s;
}

.card-secondary,
.dialog-secondary,
.accordion-secondary,
.tile-secondary {
  color: var(--clr-text);
  background-color: var(--clr-body-bg);
  box-shadow: 0 4px 8px 0 hsl(var(--hsl-text), 0.8);
  transition: 0.3s;
}

.card:hover,
.card-secondary:hover,
.dialog:hover,
.dialog-secondary:hover,
.accordion:hover,
.accordion-secondary:hover,
.tile:hover,
.tile-secondary:hover {
  box-shadow: 0 8px 16px 0 hsl(var(--hsl-text), 0.8);
}

.card-header,
.card-body,
.card-footer,
.dialog-header,
.dialog-body,
.dialog-footer,
.accordion-header,
.accordion-body,
.accordion-footer {
  padding: var(--size-300) var(--size-600);
}

.card-header,
.dialog-header,
.accordion-header {
  background-color: var(--clr-accent);
  color: var(--clr-body-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer,
.dialog-footer,
.accordion-footer {
  background-color: var(--clr-primary);
  color: var(--clr-text);
}

.dialog,
.dialog-secondary {
  --_hsl-text: 0, 0%, 0%;
  --_clr-text: black;
  --_clr-bg: white;

}

.dialog-body {

  height: 80vh;
  overflow-y: scroll;
}

.accordion-body {
  display: none;
}

.accordion-header>label {
  width: 100%
}

.accordion-header:has(input[type="checkbox"]:checked)+.accordion-body {
  display: block;
}

.wizard,
.carousel {
  color: var(--clr-text);
  background-color: var(--clr-card-bg);
  /* padding: var(--size-600); */
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 hsl(var(--hsl-text), 0.8);
  transition: 0.3s;
  display: grid;
  grid-template-rows: auto 1fr;
}

.wizard {
  --wizard-height: 50vh;
  height: var(--wizard-height);
}

.carousel {
  min-height: 20vh;
}

.wizard-body,
.carousel-body {
  height: 100%;
}

.wizard-item {
  height: calc(var(--wizard-height) * 0.9);
  overflow-y: auto;
}

.wizard-item,
.carousel-item,
.wizard-controller,
.carousel-controller {
  padding: var(--size-300) var(--size-600);
}

.wizard-controller,
.carousel-controller {
  display: flex;
  gap: 0.25em;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-accent);
}

.wizard-item:nth-child(odd),
.carousel-item:nth-child(odd) {
  background-color: var(--clr-body-bg);
}

.wizard-item:nth-child(even),
.carousel-item:nth-child(even) {
  background-color: var(--clr-card-bg);
  /*text-align: center;*/
}

.wizard-item,
.carousel-item {
  display: none;
}

input[type=radio].wizard-page-controller{
  display: none;
}

.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(1)) .wizard-page-controller:nth-child(1),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(1)) .wizard-page-controller:nth-child(2) {
  display: block;
}

.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(2)) .wizard-page-controller:nth-child(1),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(2)) .wizard-page-controller:nth-child(2),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(2)) .wizard-page-controller:nth-child(3) {
  display: block;
}
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(3)) .wizard-page-controller:nth-child(2),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(3)) .wizard-page-controller:nth-child(3),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(3)) .wizard-page-controller:nth-child(4) {
  display: block;
}
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(4)) .wizard-page-controller:nth-child(3),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(4)) .wizard-page-controller:nth-child(4),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(4)) .wizard-page-controller:nth-child(5) {
  display: block;
}
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(5)) .wizard-page-controller:nth-child(4),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(5)) .wizard-page-controller:nth-child(5),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(5)) .wizard-page-controller:nth-child(6) {
  display: block;
}
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(6)) .wizard-page-controller:nth-child(5),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(6)) .wizard-page-controller:nth-child(6),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(6)) .wizard-page-controller:nth-child(7) {
  display: block;
}
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(7)) .wizard-page-controller:nth-child(6),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(7)) .wizard-page-controller:nth-child(7),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(7)) .wizard-page-controller:nth-child(8) {
  display: block;
}
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(8)) .wizard-page-controller:nth-child(7),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(8)) .wizard-page-controller:nth-child(8),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(8)) .wizard-page-controller:nth-child(9) {
  display: block;
}
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(9)) .wizard-page-controller:nth-child(8),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(9)) .wizard-page-controller:nth-child(9),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(9)) .wizard-page-controller:nth-child(10) {
  display: block;
}
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(10)) .wizard-page-controller:nth-child(9),
.wizard-controller:has(input[type=radio].wizard-page-controller:checked:nth-child(10)) .wizard-page-controller:nth-child(10) {
  display: block;
}

.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(1)) .wizard-item:nth-child(1),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(2)) .wizard-item:nth-child(2),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(3)) .wizard-item:nth-child(3),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(4)) .wizard-item:nth-child(4),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(5)) .wizard-item:nth-child(5),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(6)) .wizard-item:nth-child(6),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(7)) .wizard-item:nth-child(7),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(8)) .wizard-item:nth-child(8),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(9)) .wizard-item:nth-child(9),
.wizard:has(input[type=radio].wizard-page-controller:checked:nth-child(10)) .wizard-item:nth-child(10) {
  display: block;
}

.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(1)) .carousel-item:nth-child(1),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(2)) .carousel-item:nth-child(2),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(3)) .carousel-item:nth-child(3),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(4)) .carousel-item:nth-child(4),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(5)) .carousel-item:nth-child(5),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(6)) .carousel-item:nth-child(6),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(7)) .carousel-item:nth-child(7),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(8)) .carousel-item:nth-child(8),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(9)) .carousel-item:nth-child(9),
.carousel:has(input[type=radio].carousel-page-controller:checked:nth-child(10)) .carousel-item:nth-child(10) {
  display: block;
}



/* pagination */
.pagination {
  /* padding: 0.25rem; */
}

.pagination ul {
  display: flex;
  align-items: center;
}

.pagination a {
  --p-num: 11;
  --_padding: var(--size-300);
  display: inline-block;
  padding: calc(var(--_padding) / 2) var(--_padding);
  /* border: 1px solid var(--clr-card-bg); */
  box-shadow: 0 1px 2px 0 hsl(var(--hsl-text), 0.8);
  background-color: var(--clr-body-bg);
  color: var(--clr-body);
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.pagination a[data-active],
.pagination a.active {
  background-color: var(--clr-accent);
  color: var(--clr-body-bg);
  padding: var(--_padding) calc(var(--_padding) * 1.5);
  border-radius: var(--radius);
}

.pagination a:hover:not(.active) {
  background-color: var(--clr-card-bg);
}

@media (max-width: 35em) {
  .pagination a.active {
    padding: calc(var(--_padding) / 2) var(--_padding);
    border-radius: var(--radius);
  }

  /* .pagination li:nth-child(n+4){
display: none;
}

.pagination li:nth-child(n+9){
display: revert;
}

.pagination li:nth-child(6){
display: revert;
} */

  .pagination li:not(.mobile) {
    display: none;
  }
}

.tile {
  position: relative;
  /* background: var(--clr-card-bg); */
  /*display: inline-block;*/
  padding: 2em;
  margin: 1em;
  display: flex;
  gap: var(--size-100);
  align-items: center;
  --_clr-icon-fg: var(--clr-accent);
}

.tile .icon {
  --icon-sz: 2em;
}

.tile-note {
  --_width: 3em;
  --_height: 3em;
  --_top: 0%;
  --_right: 0%;
  position: absolute;
  top: calc(var(--_top) - calc(var(--_height) / 2));
  right: calc(var(--_right) - calc(var(--_width) / 2));
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-accent);
  color: var(--clr-card-bg);
  min-width: var(--_width);
  min-height: var(--_height);
  border-radius: 50%;
}

.tile-note:hover {
  filter: invert(1);
}

a:hover:has(> .tile-note),
a:focus:has(> .tile-note) {
  filter: none;
}

a:has(> .tile) {
  text-decoration: none;
}

/*item-selector*/
.item-selector {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
  width: fit-content;
}


/*multiselector*/

.multiselector>* {
  padding: var(--size-300);
}

.multiselector> :nth-child(odd) {
  background-color: var(--clr-card-bg);
}

.multiselector> :nth-child(even) {
  background-color: var(--clr-body-bg);
}

.multiselector> :hover {
  background-color: var(--clr-card-bg);
  filter: invert(1);
  /*filter: hue-rotate(90deg);*/
}

.multiselector label {
  display: flex;
  align-items: center;
  gap: var(--size-200);
}

/* overlay */
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  cursor: pointer;
}

.overlay>div,
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* border: var(--clr-primary-400) solid var(--size-100); */
  border-radius: 5px;
  z-index: 1002;
  overflow: auto;
  /* width: clamp(50%, 70vw, 90%); */
  /* height: clamp(50%, 70vh, 90%); */
}

.overlay .edit {
  width: 100%;
  /* height: 100%; */
  margin: 0;
}

@media (max-width: 426px) {

  .overlay>div,
  .overlay-content {
    width: 70%;
    height: 90%;
  }
}

/* messenger */
.message {
  padding: 1em;
  border-radius: 0.2em;
  margin-block: 0.5em;
  background-color: var(--clr-primary, black);
  color: var(--clr-accent, white);
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  animation-name: animessage;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

.error {
  filter: invert(1);
}

@keyframes animessage {
  0% {
    right: 0;
    background-color: var(--clr-primary, black);
    color: var(--clr-accent, white);
  }

  /*25% {
    right: 0;
    filter: hue-rotate(45deg);
 }*/

  50% {
    right: 0;
    filter: hue-rotate(180deg);
  }

  /*75% {
    right: 0;
    filter: hue-rotate(180deg);
}*/

  100% {
    right: 0;
    /*filter: invert(1);*/
    filter: hue-rotate(360deg);
  }
}